/* Style sheet creatd by: Ava Bucci on 10/6/22 */



/* Style for body specifies a background color */
body {
	background-color: #A2A7A5;
}

/* Style to create fluid image */
img {
	max-width: 100%;
	margin-bottom: 1em;
}

h2 {
	font-weight: bold;
}

h3 {
	font-weight: bold;
}

title {
	font-weight: bold;
	font-family: book antiqua, Arial, sans-serif;
}

/* Style for container centers the page and sets the element width */
#container  {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* style for header specifies top margins, background color, rounded corners, center aligns content */
header {
	text-align: center;
}

/* style for nav specifies text properties */
nav {
	font-family: Display, "Times New Roman", serif;
	font-size: 1.25em;
	font-weight: bold;
	text-align: inline;
	margin-top: 3em;
	margin-bottom: 1em;
}

/* style specifies padding and margins for nav unordered list */
nav ul {
	padding-right: 2em;
	padding-left: 2em;
	margin-top: 1em;
	margin-bottom: 2em;
}

/* style for nav li specified the background color, rounded corners, removes bullet style, and applies margins and padding for list items within the nav */
nav li {
	border-radius: 1em;
	list-style-type: none;
	margin: 1em;
	padding: .9em;
	display: inline;
	margin-bottom: 1em;
	margin-top: 1em;
	background-color: #6D696A;
}

nav li a {
	color: #ffffff;
	text-decoration: none;
}


/* style displays mobile class */
.mobile {
	display: inline;
}

/* style for main specifies block display, text properities, margins, padding, rounded corners, and border properties */
main {
	display: block;
	font-family: book antiqua, Arial, sans-serif;
	font-size: 1.2em;
	margin-top: 0.5em;
	padding: .2em;
	border-radius: 2em 2em 2em 2em;
	background-color: #ffffff;
	opacity: 0.85;
	text-align: center;
}

/* style for footer specifies font size, text alignment, and top margin */
footer {
	font-size: .70em;
	text-align: center;
	margin-top: 2em;
	color: #ffffff;
}

article {
		background-color: #c1d9ca;
		float: left;
		margin: 0.5%;
		padding: 0.5%;
		text-align: center;
		width: 31%;
	}
	
header {
		float: left;
		margin: 0.4%;
		padding: 0.4%;
		text-align: center;
		width: 15%;
	}


